/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Russo+One');


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	background: url(../img/bg.jpg) no-repeat center;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(0,0,0,0.5);
	// font-family: Helvetica, Arial, sans-serif;
	font-family: 'Russo One', sans-serif;
	letter-spacing: 0.1rem;
	padding: 3vw;
	color: #fff;

	@include bp-tablet {

	}
}

body, #app, ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 7vw;
	font-weight: bold;
	text-align: center;
}

blockquote {
	text-align: center;
	margin: 20px 0;
}

#app {
	width: 100%;
	flex-direction: column;

	h2 {
		font-size: 4vw;
		margin-bottom: 10px;
	}

	div {
		display: flex;
		flex-flow: column wrap;
	}

	input {
		font-size: 15pt;
	}

	input, button {
		border: none;
		border-radius: 5px;
		margin: 10px;
		padding: 16px;
		font-size: 18px;
	}

	button {
		background: scroll;
		color: #fff;
		border: 2px solid;
		transition: 0.4s ease-in;

		&:hover {
			background: rgba(255,255,255,0.8);
			color: #000;
			border-color: rgba(255,255,255,0.8);

		}
	}
}

ul {
	flex-flow: row wrap;
	// justify-content: space-between;
	// align-content: flex-start;
	li {
		text-align: center;
		width: 250px;
		border: 1px solid #999;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
		h3 {
			font-size: 18pt;
			font-weight: bold;
		}
		p {
			font-size: 12pt;
			color: #999;
		}
	}
}

